body {
        background-color: lightgray;
     }

footer {
    margin: 15px;
    border: aqua;
    padding: 10px;
}

table.table-style-two {
        font-family: "Comic Sans MS", verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        text-align: center;
        border-width: 1px;
        border-color: #3A3A3A;
        border-collapse: collapse;
        box-shadow: 3px 3px  3px 3px grey;
    }

    table.table-style-two th {
        border-width: 1px;
        text-align: center;
        padding: 8px;
        border-style: solid;
        border-color: #4c6c94;
        background-color: #B2CFD8;
    }

    table.table-style-two tr:hover td {
        background-color: #DFEBF1;
    }

    table.table-style-two td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #4c6c94;
        background-color: #ffffff;
    }